/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [CHANNEL_NAME]
      ,[CHANNEL_ID]
      ,[VIDEO_ID]
      ,[Category_Id]
  FROM [Myassignment].[dbo].[Assignment.Channel]